<!DOCTYPE html>
{% load static %}
<html >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "{% static 'zing_it/css/mystyle.css' %}"/>
    <title>Home Page</title>
</head>
<body>
  <h1><center>Zing It</center></h1>

  <div class="row">
    <!-- Add code here -->
    <div class="column">
      <div class="card">
        <!-- Add code here-->
      </div>
    </div>
    <!-- Add code here -->
  </div>
    
    </div>
  </div>
</body>
</html>